.Height--Header{
    height: 100%;
}
.Height--Slide{
    height:700px;
}
.Height--Content{
    height: 100%;
}
.Height--Pro{
    height: 550px;
}
.Height--Footer{
    height: 100px;
}
.H-W-Img-circle{
    height: 150px;
    width: 150px;
}
.H-W--Image{
    height: 500px;
    width: 450px;
}
.Image--circle{
    border-radius: 50%;
}
.Image--slide{
    height: 500px;;
}
/*.carousel-caption{
    position: absolute;
    top:30%;
    z-index: 30;
}*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}