.header{
    background-color:wheat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center    
}
.logo{
    background-color:red;
    height: 100%;
    width: 30%;
    display: flex;
    glyph-orientation-horizontal: middle;
    justify-content: center ;
}
.con-logo{
    width:30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center 
}
.text-pink{
    background-color:pink;
    height:150px;
    width: 70%;
    display: flex;
}
.carousel{
    background-color:wheat;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.orange{
    background-color: orange;
    height: 150px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}