.Body{
    background-color: grey;
    height: 100vh;
}

.p--text{
    font-size: 20px;
}
.Image--height--width{
    height: 80px;
    width: 80px;
}
.H-W--input--sign{
    height: 50px;
    width: 20%;
}
